{% extends "base.html" %}

{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}

{% block content %}
<div class="post-wrap-content col-md-12">
	<div id="post-wrap" class="col-md-9 col-sm-12 col-xs-12">
		{% for post in posts %}
		    {% include "post/one_post.html" %}
		    {% empty %}
    	<div class="alert alert-warning text-center">Chuyên mục {{ cate_current.name }} chưa có video nào.</div>
		{% endfor %}
		{% if posts.has_next %}
		<div class="col-md-12 col-sm-12 col-xs-12 post next-post">
		    <a href="javascript:void(0)" {% if cate_current != None %}data-category={{ cate_current.slug }}{% endif %} class="viewmore-post" data-page="{{ posts.next_page_number}}">{% trans "Xem thêm" %}</a>
		</div>
		{% endif %}
	</div>
	<div id="category" class="col-md-3 col-sm-3 col-xs-6">
		{% for category in categories %}
			<a href="{{HOST}}/{{category.slug}}" class="{% if cate_current == category %}menu-active{% endif %}">{{ category.name }}</a>
		{% endfor %}
	</div>
	<a id="btn-pullout" class="visible-xs visible-sm" href="javascript:toogleMenu()"><i class="fa fa-bars"></i></a>
</div>
{% endblock %}