{% load staticfiles i18n %}
{% include 'common/homepage/header.html'  %}
<title>{% block title %}{% trans "ngudan.com| Trang sưu tầm các clip hay, đa thể loại:)" %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}" />
<meta property="og:description" content="{% block descriptions %}{% endblock %}" />
<meta name="keywords" content="{% block keyword %}tin tuc, tin tức, tin tuc trong ngay, bóng đá, thời trang, cười, tintuc, 24h, tin nhanh , the thao, tin nhanh, thoi trang, thời sự, bong da, bao cong an, bao an ninh, thoi su, giai tri, giải trí, bao{% endblock %}" />
<meta name="news_keywords" content="{% block news_keyword %}tin tuc, tin tức, tin tuc trong ngay, bóng đá, thời trang, cười, tintuc, 24h, tin nhanh , the thao, tin nhanh, thoi trang, thời sự, bong da, bao cong an, bao an ninh, thoi su, giai tri, giải trí, bao{% endblock %}" />
<meta property="og:site_name" content="{% block fb_site_name %}Tin tức ngư dân{% endblock %}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="vi_VN" />
<meta property="fb:app_id" content="332023790214859" />
<meta property="fb:admins" content="{% block fb_admin %}100000272067325{% endblock %}" />
<meta property="og:title" content="{% block fb_title %}Tin tức ngudan.com | tin nhanh bong da | the thao | thoi trang, giai tri vn | bao online{% endblock %}" />    
<meta property="og:url" content="{% block fb_url %}http://ngudan.com/{% endblock %}" />
<meta content="{% block fb_image %}{% static 'images/nd.png' %}{% endblock %}" property="og:image"/>
</head>
<body>
<header id="header">
    <div class="container top">
        <div class="col-md-8 menu-top">
            <a href="/" id="logo">{% trans 'Ngưdân.com' %}</a>
            <div class="menu">
                <div class="container">
                    <nav class="navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="main-menu">
                                <ul class="nav navbar-nav main">
                                    <li><a href="{% trans '/xem-nhieu/' %}">{% trans "Xem nhiều" %}</a></li>
                                    <li><a href="{% trans '/binh-luan-nhieu/' %}">{% trans "Bình luận nhiều" %}</a></li>
                                    <li class="text-center">
                                        <div id="search">
                                            <script>
                                                (function() {
                                                    var cx = '002722224632743787005:ug-zhuopxve';
                                                    var gcse = document.createElement('script');
                                                    gcse.type = 'text/javascript';
                                                    gcse.async = true;
                                                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                                        '//www.google.com/cse/cse.js?cx=' + cx;
                                                    var s = document.getElementsByTagName('script')[0];
                                                    s.parentNode.insertBefore(gcse, s);
                                                })();
                                            </script>
                                            <gcse:search>Tìm kiếm</gcse:search>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="language" class="btn-group right open">
                                <form id="form-language" lang="{{LANGUAGE_CODE}}" action="/i18n/setlang/" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="/" /> 
                                <input name="language" id="set-lang" type="hidden" value="" />                               
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <div class="animated fadeIn on-load" style="display: block;">
                                        <span class="img-lang {{LANGUAGE_CODE}}"></span>        
                                        <span class="caret"></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <li class="active-language {% if LANGUAGE_CODE == language.code %}active{% endif %}" data-lang="{{ language.code }}">
                                        <a tabindex="-1" href="javascript:(void)">
                                            <span class="img-lang {{language.code}}"></span>
                                                {% trans language.name_local %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>            
</header>
<div class="container content">
    {% block content %}
    {% endblock %}
</div>
<div>
    <div class="hidden-xs hidden-sm">
       <!-- google ad-->
    </div>
</div>
{% include 'common/homepage/footer.html'  %}
{% block js %}
{% endblock %}
   </body>
</html>
