{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}
<!--One Post -->
<div class="col-md-4 col-sm-4 col-xs-6 post-relative">
    <div class="w-post">
        <div id="video" class="video-list">
            <div class="player text-center" style="background:url('http://img.youtube.com/vi/{{ post.link }}/0.jpg') center center no-repeat; ">
            </div>
            <a href="/{{post.category.slug}}/{{post.slug}}/" class="player-link"><div class="player-img"></div></a>
        </div>
        <h4 class="title-post detail-posts">
            {% if lang == 'vi' %}
            <a href="/{{post.category.slug}}/{{post.slug}}/" data-container="body" data-toggle="popover" data-placement="left" data-content="{{ post.title|escape|lower}}">{{ post.title|escape|lower|truncatechars:25 }}</a>
            {% else %}
                <a href="/{{post.category.slug_en}}/{{post.slug_en}}/" data-container="body" data-toggle="popover" data-placement="left" data-content="{{ post.title_en|escape|lower}}">{{ post.title_en|escape|lower|truncatechars:25 }}</a>
            {% endif %}
        </h4>
    </div>
</div>
<!--End Post-->